* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-size: 16px;
  font-family: Avenir-Next, Roboto, sans-serif;
  color: #7f8c8d;
}
/* CSS of header part */
.pokemon_header {
  height: 11vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid grey;
}
.pokemon_header_left {
  width: 20%;
  margin-top: 10px;
  margin-left: 10px;
}
.pokemon_header_left > img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.pokemon_header_right {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 15px;
  margin-right: 10px;
}
.pokemon_header_right_first {
  display: flex;
}
.pokemon_header_right_first > img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 10px;
}
.pokemon_header_right_last {
  display: flex;
}
.pokemon_header_apply_button {
  height: 20px;
  width: 80px;
  border: none;
  background-color: #de713b;
  color: white;
}
/* Resposnove CSS for header */
@media screen and (max-width: 768px) {
  .pokemon_header {
    flex-direction: column;
    height: 60vh;
    justify-content: unset;
  }
  .pokemon_header_left {
    width: 100%;
    text-align: center;
  }
  .pokemon_header_left > img {
    width: 100%;
  }
  .pokemon_header_right {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .same {
    margin-top: 7px;
    margin-bottom: 5px;
  }
  .pokemon_header_apply_button {
    margin-top: 10px;
  }
}

/* Ends here */
/*  Welcome Pars Starts here  */
.pokemon_main_section {
  width: 100%;
  height: 90vh;
  background-image: url("https://i.imgur.com/ksqOx5F.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.color-overlay {
  height: 100%;
  width: 100%;
  background: #000000b3;
  position: absolute;
  opacity: 0.9;
}

.pokemon_main_section_content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 80%;
  margin: auto;
}
.pokemon_main_section_content > h1 {
  font-size: 90px;
  color: white;
  z-index: 1;
  margin-top: 20px;
}
.pokemon_main_section_content > h3 {
  color: white;
  z-index: 1;
  font-size: 33px;
}

.pokemon_apply_button {
  width: 170px;
  height: 35px;
  background-color: #4992ca;
  z-index: 1;
  border: none;
  color: white;
  margin-top: 15px;
}
.pokemon_register_button {
  width: 170px;
  height: 45px;
  background: none;
  z-index: 1;
  border: 2px solid white;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
}
.pokemon_learn_more_button {
  width: 370px;
  border-radius: 15px;
  background-color: white;
  border: none;
  height: 45px;
  z-index: 1;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width: 768px) {
  .pokemon_main_section {
    height: 50vh;
  }
  .pokemon_main_section_content {
    align-items: center;
  }
  .pokemon_main_section_content > h1 {
    font-size: 30px;
    margin-top: 10px;
  }
  .pokemon_main_section_content > h3 {
    font-size: 25px;
  }
  .pokemon_apply_button {
    height: 20px;
  }
  .pokemon_register_button {
    height: 30px;
  }
  .pokemon_learn_more_button {
    width: 200px;
  }
}
@media screen and (max-width: 798px) {
  .pokemon_main_section_content {
    align-items: center;
  }
  .pokemon_main_section {
    height: 50vh;
  }
  .pokemon_main_section_content > h1 {
    font-size: 30px;
    margin-top: 10px;
  }
  .pokemon_main_section_content > h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  .pokemon_apply_button {
    height: 20px;
  }
  .pokemon_register_button {
    height: 30px;
  }
  .pokemon_learn_more_button {
    width: 200px;
  }
}
@media screen and (max-width: 520px) {
  .pokemon_main_section {
    height: 60vh;
  }
  .pokemon_main_section_content > h1 {
    margin-top: 10px;
  }

  .pokemon_apply_button {
    margin-top: 5px;
  }
  .pokemon_register_button {
    margin-top: 5px;
  }
  .pokemon_learn_more_button {
    width: 100%;
    margin-top: 5px;
    height: 30px;
    padding: 0 0 0 0;
  }
}
/* Welcome Pars Ends here  */

/* Pocket Monsters Section Starts here */
.pockemon_monsters_section {
  width: 100%;
  height: 95vh;
  background-color: #4992ca;
  color: white;
  text-align: center;
  font-family: Avenir-Next, Roboto, sans-serif;
}

.pockemon_monsters_contents {
  width: 75%;
  margin: auto;
}
.pockemon_monsters_contents_header {
  font-size: 45px;
  margin-bottom: 15px;
}
.pockemon_monsters_contents > p {
  margin-bottom: 15px;
  line-height: 20px;
}

.pokemon_monster_iconss {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 85px;
}
.pokemon_monster_iconss > div > h4 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.pokemon_monster_water,
.pokemon_monster_fire,
.pokemon_monster_grass {
  width: 33.3%;
}
.pokemon_monster_water > p,
.pokemon_monster_fire > p,
.pokemon_monster_grass > p {
  line-height: 25px;
  margin-top: 20px;
}
@media screen and (max-width: 787px) {
  .pockemon_monsters_section {
    height: 150vh;
  }
  .pokemon_monster_iconss {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .pokemon_monster_water,
  .pokemon_monster_fire,
  .pokemon_monster_grass {
    width: unset;
  }
}
@media screen and (max-width: 646px) {
  .pockemon_monsters_contents_header {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .pockemon_monsters_contents > p {
    margin-bottom: 5px;
    line-height: 20px;
  }
  .pokemon_monster_iconss > div > h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .pockemon_monsters_section {
    height: 150vh;
  }
}
@media screen and (max-width: 446px) {
  .pockemon_monsters_section {
    height: 160vh;
  }
}
@media screen and (max-width: 394px) {
  .pockemon_monsters_section {
    height: 180vh;
  }
}
@media screen and (max-width: 374px) {
  .pockemon_monsters_section {
    height: 200vh;
  }
}
@media screen and (max-width: 330px) {
  .pockemon_monsters_section {
    height: 220vh;
  }
}
@media screen and (max-width: 300px) {
  .pockemon_monsters_section {
    height: 240vh;
  }
}
/* Pocket Monsters Section Ends here */

/* Statistics Section starts here */

.pokemon_statistics {
  width: 100%;
  height: 90vh;
  font-family: Avenir-Next,Roboto,sans-serif;
  color: black;
}
.pokemon_statistics_content {
  width: 75%;
  margin: auto;
  text-align: center;
}
.pokemon_statistics_content>h2{
    font-size: 45px;
    padding-top: 15px;
}
.statistics_cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.card>h4{
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}
.card >p{
    margin-top: 30px;
}
.card>img{
    
    width: 70%;
    margin: auto;
    object-fit: contain;
    margin-top: 20px;
}
@media screen and (max-width:1000px){
    .pokemon_statistics_content{
        width: 100%;
    }
}
@media screen and (max-width:790px){
    .pokemon_statistics{
        height: 150vh;
    }
    .statistics_cards{
        flex-direction: column;
    }
    .card>h4{
        margin-top: 10px;
    }
}
@media screen and (max-width:405px){
    .pokemon_statistics_content>h2{
        padding: unset;
        font-size: 32px;
    }
}
@media screen 
  and (min-width: 669px) 
  and (max-width: 800px){
    .card>img{
        height: 300px;
    }
}

/* Statistics Section ends  here */

/* Pokemon of the year section starts here */
.pokemon_of_the_year{
    width: 100%;
    height: 120vh;
    font-family: Avenir-Next,Roboto,sans-serif;

}
.pokemon_of_the_year_contents{
    width: 75%;
    margin: auto;
}
.pokemon_of_the_year_contents>h4{
    font-size: 30px;
    color: black;
    text-align: center;
}
/* Pokemon of the year section ends here */